@{
    ViewData["Title"] = "Página Inicial";
    {

    }
}
<div style="margin-top: -57px;" class="text-center d-flex flex-column align-items-center justify-content-center">
    <img class="w-100" src="~/img/imghome1.png" />
    <div class="w-100" style="height: 28px;background: #6D5DA4;"></div>
    <h1 class="mt-5 mb-3" style="font-family:'Shrikhand', sans-serif;">Nossos serviços</h1>
    <div class="w-75 border-top" style="height:10px;border-color: black !important;border-width: 2px !important"></div>
    <div class="row justify-content-around p-5 w-100">
        <img class="col-4" src="~/img/imgservico01.png" />
        <img class="col-4" src="~/img/imgservico02.png" />
    </div>
    <div class="w-75 border-top" style="height:10px;border-color: black !important;border-width: 2px !important"></div>

    <h1 class="mt-5 mb-3" style="font-family:'Itim', sans-serif;">Venda de livros & Papelaria</h1>

    <h3 class="mt-4 btn btn-outline-info rounded-5 p-0 ps-5 pe-5" style="background:white;color:black;border-color:black;font-family:'Itim', sans-serif;font-size:40px">Comprar</h3>

</div>
