@{
    ViewData["Title"] = "Sobre nós";
}
<div style="font-family:'Shrikhand', sans-serif;">
    <h1 style="color:#705FA6" class="text-center"> Sobre Nós</h1>
</div>
<div class="mt-5 mb-3" style="font-family:'Itim', sans-serif;">
</div>
<div style="w-40 col-md-4 mx-5"></div>
<div class="container">
    <div class="bg-white justify-content-center p-5 border border-black" style="font-family:Instrument Sans,sans-serif;">
        <h1 class="text-center">

            Olá ! somos as criadoras e desenvolvedoras do aplicativo Storyleft e vamos te contar um pouco mais sobre a gente.
            Primeiro vou te contar o porque criamos o app. Criamos o aplicativo pensando nos leitores e escritores da nossa idade e principalmente naqueles que amam ler a qualquer momento.

            Somos 3 garotas, Bianca, Eloá & Pietra, nós três somos amigas, estudando juntas no SENAI-Jaú, onde cursamos TI. Cada garota tem sua prória peculiaridade, a Eloá por exemplo é tímida e a mais esperta entre nós. A Bianca é esforçada e teimosa.  E por fim, a Pietra que  é engraçada, e desenha muito bem, contribuindo principalmente para o desing do nosso app.
        </h1>
    </div>
    <div class="row justify-content-around p-4 w-100">
        <div class="col-4 col-md-3 text-center">
            <img src="~/img/bianca.png" class="rounded-circle border" style="width: 300px; height: 300px; object-fit: cover;border-color:#9418BD !important; border-width:10px !important " alt="Bianca" />
            <p class="mt-2" style="font-family:'Shrikhand', sans-serif; color:dimgray">Bianca</p>
        </div>
        <div class="col-4 col-md-3 text-center">
            <img src="~/img/eu.png" class="rounded-circle border" style="width: 300px; height: 300px; object-fit: cover;border-color:#801113 !important; border-width:10px !important" alt="Eu" />
            <p class="mt-2" style="font-family:'Shrikhand', sans-serif;color:dimgray">Eloá</p>
        </div>
        <div class="col-4 col-md-3 text-center">
            <img src="~/img/pietra.png" class="rounded-circle border" style="width: 300px; height: 300px; object-fit: cover;border-color:#FF65BA!important; border-width:10px !important" alt="Pietra" />
            <p class="mt-2" style="font-family:'Shrikhand', sans-serif;color:dimgray">Pietra</p>
        </div>
    </div>



    <div class="align-items: 40px;" style="text-center:40px;">
        <div class="mt-5 mb-3" style="font-family:Instrument Sans, sans-serif;">
        </div>
    </div>
</div>


